{% extends "curso/home_curso.html" %}

{% block content %}
<h1 class="mb-3">Lista de Profesores</h1>

<a class="btn btn-sm btn-secondary mb-3" href="{% url 'app:inicio' %}">Volver</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cédula</th>
      <th>Correo</th>
      <th>Fecha de Nacimiento</th>
      <th>Materia</th>
    </tr>
  </thead>
  <tbody>
    {% for p in profesores %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.cedula }}</td>
      <td>{{ p.correo }}</td>
      <td>{{ p.fecha_nacimiento }}</td>
      <td>{{ p.materia }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No hay profesores aún.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
