{% extends "curso/home_curso.html" %}
{% block content %}
<h1 class="mb-3">Profesores</h1>

<table class="table table-striped">


  <thead>
  <tr>

        <a class="btn btn-sm btn-primary" href="{% url 'app:crear_profesor' %}">Nuevo</a>


  </tr>

    <tr><th>nombre</th><th>apellido</th><th>cedula</th><th>correo</th><th>fecha_nacimiento</th><th>materia</th></tr>
  </thead>
  <tbody>
    {% for p in profesores %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.cedula }}</td>
      <td>{{ p.correo}}</td>
      <td>{{ p.fecha_nacimiento}}</td>
      <td>{{ p.materia}}</td>
      <td class="text-end">

        <a class="btn btn-sm btn-primary" href="{% url 'app:editar_profesor' p.id %}">Editar</a>
        <a class="btn btn-sm btn-danger" href="{% url 'app:eliminar_profesor' p.id %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No hay profesores aún.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}