<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ accion }} Estudiante</title>
</head>
<body>
    <h2 style="text-align:center;">{{ accion }} Estudiante</h2>
    <form method="post" style="width:300px; margin:auto;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ accion }}</button>
    </form>
    <div style="text-align:center; margin-top:10px;">
        <a href="{% url 'app:listar_estudiantes' %}">Volver a la lista</a>
    </div>
</body>
</html>
