  * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
    
}

    .login-container {
      background-color: #fff;
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      width: 320px;
      text-align: center;
    }

    .login-container h2 {
      margin-bottom: 25px;
      color: #333;
    }

    .login-container input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
      transition: 0.3s;
    }

    .login-container input:focus {
      border-color: #5563DE;
    }

    .login-container button {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #5563DE;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .login-container button:hover {
      background-color: #3948b8;
    }